
.tableDiv{
  padding-top: 3rem;
}
.se{
  
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.fticon{
  color: black; 
  font-size: 12rem;
  padding-top: 2rem;
}