<%-include('../include/admin-header')-%>

<a href="/studentPlacementHistory" class="btn btn-outline-primary">student Placement History</a>
<a href="/joblist" class="btn btn-outline-success">job list</a>

<%-include('../include/admin-footer')-%>
